<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <h1>Hey Hey It a holiday</h1>
      <!-- <% if(KindOfDay==="Saturday" || KindOfDay==="Sunday"){ %>
    <h1 style="color: purple"><%= KindOfDay%>! ToDo List</h1>
    <% console.log(KindOfDay); } else{ %>
        <h1 style="color: blue"><%= KindOfDay%>! ToDo List</h1>
        <% } %>
       -->
</body>
</html>