<script src="https://kit.fontawesome.com/7987c83ab5.js" crossorigin="anonymous"></script>
  </body>
<footer>Made By Sharanya Mitra Contacts : <a href="https://linktr.ee/sharanyamitra"> <i class="fas fa-link"></i></a></footer>
  </html>
  